{% extends 'main/layout.html' %}
{%block content%}<br>
    <h1 id="wishpage">Page about Wish</h1>
<div id="vsyplenie">
    Wish (Михаил Денисович Кот) — представитель новой северо-западно-деревенско-сельской школы хип-хопа. Родом репер, писатель, поэт и творец из города Сокол,
    что неподалёку от села Слобода (буквально какие-то 3 часа 47 минут на электросамокате). Нынешнее место проживания — Общежитие, ЯГТУ, Ярославский государственный
    технический университет, что неподалёку, а если быть точным, в сантиметровой близости, от многочисленных клопов, тараканов и надоедливых соседей.
    <br><br><h2>Основные направления в творчестве</h2> Основные направления в творчестве — это трэп, мамбл реп, однако рнбишечки тоже может выдать. Чувствуется даже неподготовленным человеком,
    что вдохновляется молодой артист много кем. В его дискографии можно заметить заимствование свэгги и так называемых тайпбитов и у карти,
    и у ита, и у янгтага(чаще, конечно, адаптированного под Россию янгтага — лов66), а про найнмайса и говорить нечего.

    <br><br><h2>Тематика творчества</h2>Темы и содержание песен Wish'a абсолютно разные и даже в какой-то мере несочетаемые.
    В ранние этапы творчества преобладала любовь, причём скорее трагичная, памятником которой служат хиты "Забирай обратно" и " Не замечай".
    В работе "Творю" поэт размышляет о значении своего творчества для общества и раскрытия самого себя и приходит к выводу, что творить - это в полне себе нормально.
    В "Творю" он вновь возвращается к образу своей музы, однако оставляет её за ширмой неизвестности, потому с лёгкой издёвкой говорит слушателю: "Сейчас никто не понял о ком я говорю".
    В "Заболел" Михаил также переосмысляет свою фигуру в социуме, задаётся вопросом : "Может дурью мaюсь я? ". На этом репертуар Wish'a не заканчивается, в списке его песен есть музыка не только для влюблённых эмо-бойчиков и задумчивых влюблённых парней,
    но и для нормальных ребят. "Pumkin flou" и "You dont nou my feels" — реальные концертники, под которые не будет двигать в такт своими конечностями разве что Ник Вуйчич. На гипертреп биты Wish даёт слушателям в уши не только поток первоклассного воздуха про большое количество бабок,
    но и внутренние переживания приправленные непревзойдёнными панчами <i>(детка, скажи мне кто не плакал на строчке:"Я не чей-то СНИЛС"??? Я буквально не знаю таких людей)</i>. Также Михаил прославился своим уникальным сленгом, который он сам придумывает и единственный понимает.
    Добавления англицизмов ему в какой-то момент показалось недостаточным и он решил писать вообще выдуманные слова на wish-английском языке. Так родилась песня "I Wish". Это однозначно добавляет творцу уникальности, однако усложняет процесс слушания песни, разбора её текста и делает невозможным её подпевание,
    так как сходи разбери че он там себе под нос сказал. Женщины, оружие и дорогие шмотки (хоть и формальность) не обошли молодого репера стороной. Для первых он готов стать манежем, но только в том случае, если они способны превратиться в животное из семейства лошадиных отряда непарнокопытных, а строчка "Тверкай,
    тверкай, тверкай, тверкай, тверкай на лицо" и вовсе стала классикой. Не редкими гостями в песнях стали Тульский Токарев и элитные бренды одежды — jack joe и tom tailor (вроде мерч т-банка, но я не уверен). Близка Михаилу и тема природы. К ней он прикасается не только когда нужно начать с кем-то диалог, а кроме фотки заката ничего в голову не приходит,
    но и в момент написания хитов "Деревня" и "Квас(Птичка Песенку Запела) ".

    <br><br><h2>Интересные факты о Wish:</h2>
1. Первый клип был снят 08.08.2025 на песню "Я" в подарок другу на день рождения<br><br>
2. Думает писать реп или быть программистом<br><br>
3. Вологжаночки как болгарочки так много видов их, но знает он каждую из них<br><br>
4. Занял второе место по электронным шахматам на международном турнире имени Генки Барбоскина<br><br>
5. Не курит и не курил никогда<br><br>
6. Да и вообще очень много для меня сделал, спасибо, брат<br><br>

</div>

{%endblock%}